
  <!-- [threshold]='[.5]'
  (enter)="st($event)"
  (leave)="end($event)" -->

<div class="flex flex-col justify-center h-screen px-5 my-10 relative ">
  <app-slidein-object #aboutSlidein observeIntersection
  [threshold]='[1]'
  [rootMargin]="'200px'"
  (enter)="aboutSlidein.visible = true"
  (leave)="aboutSlidein.visible = false"
  [xStart]="-200"
  [xStop]="50"
  [speed]="0.5"
  >
<div class="back-title">
  {{localeService.currentLanguageData.about.title}}
</div>

</app-slidein-object>
 
  <div class="border px-10 py-20 title-3 mt-28 content-block w-full lg:w-8/12">
    <p class="pb-5">{{localeService.currentLanguageData.about.p1}}</p>
    <p class="pb-5">{{localeService.currentLanguageData.about.p2}}</p>
    <p class="">{{localeService.currentLanguageData.about.p3}}</p>
  </div>

  <div class="border px-10 py-20 title-3  content-block w-full lg:w-8/12">
    <p class="pb-5">{{localeService.currentLanguageData.skills.p1}}</p>
    <p class="pb-5">{{localeService.currentLanguageData.skills.p2}}</p>
    <p >{{localeService.currentLanguageData.skills.p3}}</p>
  </div>
 
  
</div>
