

<div id="contact"
class="flex flex-col justify-center h-screen px-5 relative">
  <div 
  observeIntersection [threshold]="[.7]"  
  (enter)="titleShow = true" >
    <div class="back-title"
    [class]="titleShow ? 't-show' : 't-hide'">
        {{localeService.currentLanguageData.contact.title}}</div>
    </div>
  <div class="p-10 title-2 w-full lg:w-8/12">
    <h1 class="">
      {{localeService.currentLanguageData.contact.t1}}</h1>
  </div>
  <div class="px-10 title-3 w-full lg:w-8/12">

    <div class="example-container ">
      <form [formGroup]="formGroup"
      class="flex flex-col">
        <mat-form-field appearance="outline"
        class="pt-5">
          <mat-label>{{localeService.currentLanguageData.contact.i1}}</mat-label>
          <input matInput placeholder="" formControlName="name" required>
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage("name")}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline"
        class="pt-5">
          <mat-label>{{localeService.currentLanguageData.contact.i2}}</mat-label>
          <input matInput placeholder="" formControlName="email" required>
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage("email")}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline"
        class="pt-5">
          <mat-label>{{localeService.currentLanguageData.contact.i3}}</mat-label>
          <textarea matInput placeholder="" rows="4" formControlName="message"></textarea>
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage("message")}}</mat-error>
        </mat-form-field>
    </form>
    <button mat-stroked-button color="primary">{{localeService.currentLanguageData.contact.btn}}</button>
    </div>


    
  </div>
 
</div>
