<div id="contact"
class="flex flex-col justify-center h-screen px-5 relative">
  <div 
  observeIntersection [threshold]="[.7]"  
  (enter)="titleShow = true" >
    <div class="back-title"
    [class]="titleShow ? 't-show' : 't-hide'">
        {{localeService.currentLanguageData.contact.title}}</div>
    </div>
  <div class="lg:px-10 py-5 lead-1 w-full lg:w-8/12">
    <h1 class="">
      {{localeService.currentLanguageData.contact.t1}}</h1>
  </div>
  <div class="lg:px-10 title-3 w-full lg:w-8/12">

    <div observeIntersection [threshold]="[1]" 
    (enter)="dataService.activeMenuItem=3" >
      <form 
      [formGroup]="formGroup"
      class="flex flex-col">
        <mat-form-field appearance="fill"
        class="pt-5">
          <mat-label>{{localeService.currentLanguageData.contact.i1}}</mat-label>
          <input matInput placeholder="" formControlName="name" required>
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage("name")}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill"
        class="pt-5">
          <mat-label>{{localeService.currentLanguageData.contact.i2}}</mat-label>
          <input matInput placeholder="" formControlName="email" required>
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage("email")}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill"
        class="pt-5">
          <mat-label>{{localeService.currentLanguageData.contact.i3}}</mat-label>
          <textarea matInput placeholder="" rows="4" formControlName="message"></textarea>
          <mat-error *ngIf="formGroup.invalid">{{getErrorMessage("message")}}</mat-error>
        </mat-form-field>
    </form>
    <div class="flex justify-between mt-4">
      <button mat-stroked-button [disabled]="formGroup.invalid">{{localeService.currentLanguageData.contact.btn}}</button>
      <div class="social">
        <a href="https://github.com/mozvik" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/attila-mozvik-4b5754226/" target="_blank">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
        <a href="https://www.facebook.com/attila.mozvik" target="_blank">
          <mat-icon>facebook</mat-icon>
        </a>
      </div>
    </div>
    

    </div>
  </div> 
</div>
