
<div id="portfolio"
class="flex flex-col justify-center my-52 px-5 relative">
  <div 
  observeIntersection [threshold]="[.7]" 
  (enter)="titleShow =true">
    <div class="back-title"
    [class]="titleShow ? 't-show' : 't-hide'">
        {{localeService.currentLanguageData.portfolio.title}}
    </div>
  </div>
  
  <div 
  observeIntersection
  [threshold]="[.1]"
  (enter)="projectShow=true"
  
  class="lg:px-5 xl:px-10 mt-28 content-block w-full lg:w-8/12 outer-container"> 
    <div observeIntersection [threshold]="[1]" 
    (enter)="dataService.activeMenuItem=2" 
      class="h-48 w-3/4 md:w-auto lg:w-1/2 my-10 item-container mr-0 lg:mr-5"
      *ngFor="let item of localeService.currentLanguageData.portfolio.projects ; let i = index"
      [@revealProject]="{ value: projectShow, params: duration[i]}"
      >
        <div class="title-2 i-title">{{ item.title}}
          <hr>
        </div>
        <div class="title-3 i-details">
          {{ item.details}}
        </div>
        <div class="i-tech">
          <hr>
          {{ item.tech}}
        </div>
      <div class="py-2 flex"
      *ngIf="item.code || item.demo; else elseBlock">
        <div class="px-2" *ngIf="item.code">
          <a href="{{item.code}}" target="_blank">
            <button mat-stroked-button >         
              <mat-icon>code</mat-icon>
            </button>
          </a>
        </div>
        
        <div class="px-2">
          <a href="{{item.demo}}" target="_blank">
            <button mat-stroked-button *ngIf="item.demo">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </a>
        </div>
      </div>
      <ng-template #elseBlock ><div class='lead-2'>{{localeService.currentLanguageData.portfolio.inProgress}}</div></ng-template>
      </div>
  </div>
</div>
