.p-hidden{
  opacity: 0;
}
.p-reveal{
  opacity: 1;
  transition: all 0.75s ease;
}

.outer-container{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.item-container{
  overflow: hidden;
  width: 360px;
  height: auto;
  border: solid 1px #393d3f;
  border-radius: 5px;
  padding: 1.5rem;
  
  box-shadow: 1px 1px 1px #393d3f;
}

.i-details{
  padding: 1rem 0;
}
.i-tech{
  padding-bottom: 1rem;
}
@media only screen and (min-width: 992px){
  .outer-container{
    justify-content: flex-start;
  }
  
}