.mat-sidenav-content{
  
  position: relative;
}
.mat-sidenav-content{
  /* background-image: url('../assets/bw-bg1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .13;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}
#minime{
  border-radius: 50%;
}
.teszt{
  background: var(--background);
  color: var(--color);
}