.mat-sidenav-content{
  position: relative;
}

#minime{
  border-radius: 50%;
}

img {
  fill: var(--primary);
}
.curtain-up{
  right: 30%;
  top: 100%;
  width: 70%;
  height: 100%;
  /* opacity: .95; */
  /* background: linear-gradient(to right, var(--bgAlt) 80%,  transparent ); */
  background: var(--bgAlt);
  transition: all 0.3s ease;
}
.curtain-down{
  right: 30%;
  top: 4rem;
  transition: all 0.3s ease;
}
.mobile-menu-item{
  width: 50%;
  /* color: var(--bgInput); */
}
#logo{
  color: red;
  /* background-color: red;
  -webkit-mask: url("/assets/logo-spinner.svg") no-repeat center;
  mask: url("/assets/logo-spinner.svg") no-repeat center; */
}

svg{

  fill: currentColor;
}