<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
  }
  :root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
}
 
:root.dark {
  --bg-color: #121212;
  --text-color: #45ADFE;
}
  /* :host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6 ;
}
:host ::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6 ;
}

:host ::ng-deep  .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6 ;
} */

</style>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container mx-auto max-w-full w-screen" 
[style]="{
  '--bgMain': dataService.currentColorMap.bgMain, 
  '--bgAlt': dataService.currentColorMap.bgAlt, 
  '--color': dataService.currentColorMap.color,
  '--primary': dataService.currentColorMap.primary,
  '--bgInput': dataService.currentColorMap.bgInput,
  '--colorInput': dataService.currentColorMap.colorInput
}"
>
  <mat-toolbar class="flex items-center justify-between fixed top-0 left-0 h-16 z-10 shadow-xl" *ngIf="dataService.displaySize=='Small' || dataService.displaySize=='XSmall'">
    <div class="cursor-pointer w-auto" id="logo" (click)="scrollTo('home')">
      <img [src]="dataService.currentColorTheme == 'light' ? 'assets/logo-spinner-2d3032.svg':'assets/logo-spinner-c5c6c7.svg'" width="40" height="40" alt="">
    </div>
    <div class="" aria-label="Example icon-button with menu icon">
      <button mat-icon-button [disableRipple]="true"><mat-icon class="text-5xl mr-5" (click)="toggleCurtain()">menu</mat-icon></button>
    </div>

    <div [class.curtain-down]="curtainDown" *ngIf="curtainDown" [@menuAnimation]
    class="curtain-up fixed flex flex-col items-center">
      <div class="flex flex-col items-center pt-10 pb-20 mobile-animation">
        <img src="assets/minime.jpg" width="120" alt="" id="minime"
        class="hover:cursor-pointer"
        (click)="scrollTo('home')">
      </div>
      <div
      *ngFor="let item of localeService.currentLanguageData.menuItems; let i = index"
            (clicked)="dataService.activeMenuItem = i"
            (click)="scrollTo(item.link)"
            class="cursor-pointer menu-item py-2 mobile-menu-item mobile-animation"
      >{{item.name}}
      </div>
      <div class="flex flex-col justify-center pt-20">
        <div class="flex mb-2 items-center justify-center mobile-animation">
          <mat-icon svgIcon="hu" [class.opacity-30]="localeService.currentLanguage!='hu'"></mat-icon>
          <mat-slide-toggle class="mx-3" (click)="toggleLanguage()"></mat-slide-toggle>
          <mat-icon svgIcon="en" [class.opacity-30]="localeService.currentLanguage!='en'"></mat-icon>
        </div>
        <div class="flex mt-2 items-center justify-center mobile-animation">
          <mat-icon [class.opacity-30]="dataService.currentColorTheme!='light'">light_mode</mat-icon>
          <mat-slide-toggle class="mx-3" (click)="toggleColorTheme()" ></mat-slide-toggle>
          <mat-icon [class.opacity-30]="dataService.currentColorTheme!='dark'">dark_mode</mat-icon>
        </div>
      </div>
    </div>
      
  </mat-toolbar>

  <mat-sidenav-container  
  class="relative" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav [opened]="dataService.displaySize=='Medium' || dataService.displaySize=='Large'|| dataService.displaySize=='XLarge' ? 'true':'false'" mode="side" (keydown.escape)="sidenav.close()" disableClose
    class="w-64" color="primary" style="position: fixed; top:0; ">
      <div class="flex flex-col justify-around h-screen">
        <div class="flex flex-col items-center">
          <img src="assets/minime.jpg" width="120" alt="" id="minime"
          class="hover:cursor-pointer"
          (click)="scrollTo('home')">
        </div>
      
        
        <div class="">
          <!-- <ul> -->
            <!-- [routerLink]="'/'+item.link" -->
            <app-menu-item 
            *ngFor="let item of localeService.currentLanguageData.menuItems; let i = index"
            [active]="dataService.activeMenuItem === i"
            (clicked)="dataService.activeMenuItem = i"
            (click)="scrollTo(item.link)"
            [text]="item.name"
            class="cursor-pointer menu-item"
            ></app-menu-item>
          <!-- </ul> -->
        </div>
        <div class="flex flex-col justify-center ">
            <div class="flex mb-2 items-center justify-center">
              <mat-icon svgIcon="hu" [class.opacity-30]="localeService.currentLanguage!='hu'"></mat-icon>
              <mat-slide-toggle class="mx-3" (click)="toggleLanguage()"></mat-slide-toggle>
              <mat-icon svgIcon="en" [class.opacity-30]="localeService.currentLanguage!='en'"></mat-icon>
            </div>
            <div class="flex mt-2 items-center justify-center">
              <mat-icon [class.opacity-30]="dataService.currentColorTheme!='light'">light_mode</mat-icon>
              <mat-slide-toggle class="mx-3" (click)="toggleColorTheme()" ></mat-slide-toggle>
              <mat-icon [class.opacity-30]="dataService.currentColorTheme!='dark'">dark_mode</mat-icon>
            </div>
          </div>
        </div>

    </mat-sidenav>

    <mat-sidenav-content style="overflow: hidden;"
    >
    <app-home></app-home>
    <app-about></app-about>
    <!-- <app-skills></app-skills> -->
    <app-portfolio></app-portfolio>
    <app-contact></app-contact>
    <app-wheel></app-wheel>
<!-- 
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div> -->
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


