<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* :host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6 ;
}
:host ::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6 ;
}

:host ::ng-deep  .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6 ;
} */

</style>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container mx-auto max-w-full" 
>
  <mat-toolbar class="w-screen flex items-center justify-between" *ngIf="dataService.displaySize=='Small' || dataService.displaySize=='XSmall'">
    <div class="cursor-pointer w-auto">
      <embed src="assets/logo-spinner-E8DDCB.svg" width="40" height="40" alt="" class="pointer-events-none">
    </div>
    <div class="cursor-pointer pr-5" aria-label="Example icon-button with menu icon">
      <mat-icon class="text-5xl">menu</mat-icon>
    </div>
  </mat-toolbar>


  
  
  <mat-sidenav-container  
  class="relative"   (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav [opened]="dataService.displaySize=='Medium' || dataService.displaySize=='Large'|| dataService.displaySize=='XLarge' ? 'true':'false'" mode="side" (keydown.escape)="sidenav.close()" disableClose
    class="w-64" color="primary" style="position: fixed; top:0; left:0;">
      <div class="flex flex-col justify-around h-screen">
        <div class="border">
          <embed src="assets/logo-full-hu-E8DDCB.svg" width="200"  alt="" class="pointer-events-none">
          <p><button mat-stroked-button (click)="sidenav.close()">Toggle</button></p>
        </div>
        
        <div class="border ">
          <ul>
            <!-- [routerLink]="'/'+item.link" -->
            <li *ngFor="let item of localeService.currentLanguageData.menuItems"
            class="cursor-pointer"
            >{{item.name}}</li>
          </ul>
        </div>
        <div class="border ">
          <div class="border flex justify-center">
            <mat-icon>facebook</mat-icon>
            <mat-icon>facebook</mat-icon>
            <mat-icon>facebook</mat-icon>
          </div>
          <div class="border flex justify-center">
            <mat-slide-toggle color="primary" (click)="toggleLanguage()" >{{localeService.currentLanguage}}</mat-slide-toggle>
            <mat-slide-toggle color="primary" (click)="toggleLanguage()" >{{localeService.currentLanguage}}</mat-slide-toggle>
          </div>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content >
      <app-home></app-home>
      <app-about></app-about>
      <app-skills></app-skills>
      <app-portfolio></app-portfolio>
      <app-contact></app-contact>
<!-- 
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div> -->
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


