/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities; 

html, body { 
  height: 100%; 

}
body {
  overflow-x: hidden; 
  max-width: 1980px;
  width: 100%;
  margin: 0 auto;
  background: #e0e1dd;
  color: #0d1b2a; 
  font-family: Montserrat, Arial, sans-serif; 
  user-select: none;
}

.mat-drawer-container{
  /* color: #0d1b2a;  */
  /* background: #e0e1dd; */
  color: #393d3f; 
  background: #fdfdff;
}
.mat-sidenav{

  /* background: rgba(13, 27, 42,.25); */
  background: #62929e;
}
/* body { margin: 0; font-family: Inconsolata, monospace, sans-serif; } */

/* router-outlet ~ * {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
} */

::-webkit-scrollbar {
/*  width: 0;  /* Remove scrollbar space */
/*  background: transparent;  /* Optional: just make scrollbar invisible */
}

.content-block{
  /* background: radial-gradient(white 50%, transparent 80%); */
  /* background: linear-gradient(to bottom , transparent, white 30% ,white 70%, transparent); */

}

button.mat-stroked-button{
  font-family: Montserrat, Arial, sans-serif; 

  font-weight: 700;

}

.title-1{
  font-family: Special Elite, monospace, sans-serif; 
  font-size: 60px; 
 
}
.lead-1{
  font-family: Inconsolata, monospace, sans-serif; 
  font-size: 1.9rem; 
  font-weight: 400;
}
.lead-2{
  font-family: Inconsolata, monospace, sans-serif; 
  font-size: 1.5rem; 
  line-height: 2.0rem;
  font-weight: 400;
}
.title-2{
  font-family: Inconsolata, monospace, sans-serif; 
  font-size: 1.65rem; 
  font-weight: 400;
}
.title-3{
  font-family: Inconsolata, monospace, sans-serif; 
  font-size: 1.15rem; 
  font-weight: 400;
}

.menu-item{
  font-family: Inconsolata, monospace, sans-serif; 
  font-size: 1.3rem; 
  font-weight: 400;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.back-title{
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* transform: rotate(-7deg); */
  opacity: 1;
  font-family: Special Elite, monospace, sans-serif; 
  font-size: 60px; 
  z-index: 1; 
}
.t-hide{
  position: relative;
  opacity: 0; 
  transform: translateX(40vw);
  transition: all .7s ease-out;
}
.t-show{
  position: relative;
  opacity: 1;
  transform: translateX(1rem);
  transition: all .7s ease-out;
}


@media screen and (min-width: 992px){
.back-title, .title-1{
  font-size: 70px;
}
.t-show{
  transform: translateX(3rem);
}
}
